extends layout

block content
    p#heading Hello, my name is #{name}! I'm a #{job} from #{location}. <br>Welcome to my Node.js masterpiece!
    span Heyo1
    <br>
    img.cat(src="cat.jpg" alt="Cat!")